
//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .footer-links__container {
        display: flex;
        flex-direction: row;
        padding: 40px 0 30px;
        margin: 0 15px;
        background: #fafafa;
    }

    .footer-links__block {
        list-style: none;
    }

    .footer-list {
        list-style: none;
        margin: 0 50px;

        a {
            text-decoration: none;
            color: #979797;
        }
    }

    .footer-list__header {
        color: #000000 !important;
        font-weight: bold;
    }

    .footer-links__logo {
        margin-right: 30px;
        img {
            width: 200px;
            margin: 45px 0 0 100px;
        }
    }

    .footer-list__header {
        text-align: center;
        margin-bottom: 15px;
    }

    .social-block {
        margin-left: 30px;
    }

    .medium-block {
        margin: 0 80px;
    }

    .header-left {
        text-align: left;
    }

    .footer-list__social {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;

        .instagram-social {
            margin-right: 10px;

            img {
                width: 48px;
            }
        }

        .facebook-social {
            margin-left: 10px;

            img {
                width: 48px;
            }
        }
    }
}  
